[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
flask-limiter = "*"
flask-caching = "*"
flask-mail = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
alembic = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
celery = "*"
redis = "*"
prometheus-flask-exporter = "*"
gunicorn = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
requests = "*"
structlog = "*"
tzdata = "*"
flask-talisman = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"
pytest-ordering = "*"
flask-testing = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest --cov=app --cov-report=term-missing"
start = "gunicorn --config gunicorn_config.py wsgi:app"
